#nav {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 64, 77);
  height: 75px;
}

.nav-btn {
  font-size: 1em;
  background-color: rgb(59, 64, 77);
  color: rgb(246, 246, 247);
  border: 1px solid rgb(88, 95, 108);
  height: 40px;
  padding: 0px 30px;
  margin: 0px 5px;
}

.nav-btn:hover {
  background-color: rgb(75, 81, 95);
}

#jumbo {
  z-index: -1;
  display: grid;
  justify-content: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#jumbo img {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  width: 100%;
  max-width: 1920px;
  height: 550px;
  object-fit: cover;
}

#jumbo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans';
  color: white;
}

#jumbo-text-heading {
  text-transform: uppercase;
  font-size: 5rem;
  text-shadow: 2px 2px black;

}

#jumbo-text-subheading {
  margin-top: 10px;
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}

.three-col {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 27% 27% 27%;
  justify-content: center;
}

.three-col button {
  color: white;
  font-size: 1em;
  height: 40px;
  padding: 0px 40px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);

}

.card {
  background-color: rgb(241, 241,	241);
  margin: 15px;
}

.card h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}


.card img{
  position: relative;
  width: 100%
}

.card-text {
  margin: 20px;
  line-height: 1.3rem;
}


.two-col {
  display: grid;
}


.red {
  background-color: rgb(131, 41, 22);
}

.red-text {
  color: rgb(131, 41, 22);
}

.blue {
 background-color: rgb(30, 133,	188);
}

.blue-text {
  color: rgb(30, 133,	188);
}

.green {
  background-color: rgb(33, 136, 54);
}

.green-text {
  color: rgb(33, 136, 54);
}